
server {
  listen 80;
  server_name {{parts.config.domain}} www.{{parts.config.domain}};

  gzip            on;
  gzip_min_length 1000;
  gzip_proxied    any;
  gzip_types      text/plain application/json text/json;
  gzip_comp_level  6;

  proxy_set_header Host $http_host;
  proxy_set_header X-Real-IP $remote_addr;

  location / {
    proxy_pass http://127.0.0.1:{{parts.config.port}}$request_uri;
  }
}
