[DEFAULT]
debug = {{debug}}


[app:main]
use = egg:fibonacci_simple_service

scheme = {{scheme}}
domain = {{domain}}


[server:main]
use = egg:gunicorn#main
host = 127.0.0.1
port = {{port}}
workers = {{workers}}
proc_name = {{proc_name}}


# Logging configuration
[loggers]
keys = root, fibonacci_simple_service

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = {{logger_root_level or logger_level or 'WARNING'}}
handlers = console
qualname =

[logger_fibonacci_simple_service]
level = {{logger_fibonacci_simple_service_level or logger_level or 'INFO'}}
handlers = console
qualname = fibonacci_simple_service

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = {{handler_console_level or handler_level or 'NOTSET'}}
formatter = generic

[formatter_generic]
format = %(asctime)s,%(msecs)03d %(levelname)-5.5s [%(threadName)s:%(name)s:%(lineno)d] %(message)s
datefmt = %d.%m %H:%M:%S
